USE [master]
GO
/****** Object:  Database [ChamCongDB]    Script Date: 2026-05-16 10:12:17 PM ******/
CREATE DATABASE [ChamCongDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ChamCongDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ChamCongDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ChamCongDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ChamCongDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ChamCongDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ChamCongDB]
GO
/****** Object:  Table [dbo].[bang_luong_chot]    Script Date: 2026-05-16 10:12:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bang_luong_chot](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nhan_vien_id] [nvarchar](10) NOT NULL,
	[thang] [int] NOT NULL,
	[nam] [int] NOT NULL,
	[tong_ca_duoc_phan] [int] NULL,
	[tong_ca_di_lam] [int] NULL,
	[tong_ca_nghi] [int] NULL,
	[tong_phut_di_tre] [int] NULL,
	[tong_phut_ve_som] [int] NULL,
	[tong_phut_bi_tru] [int] NULL,
	[tong_phut_tang_ca] [int] NULL,
	[luong_co_ban] [decimal](18, 2) NULL,
	[luong_theo_gio] [decimal](18, 2) NULL,
	[luong_tang_ca_theo_gio] [decimal](18, 2) NULL,
	[tong_luong_chinh] [decimal](18, 2) NULL,
	[tong_luong_tang_ca] [decimal](18, 2) NULL,
	[phu_cap] [decimal](18, 2) NULL,
	[thuong] [decimal](18, 2) NULL,
	[phat] [decimal](18, 2) NULL,
	[tong_luong] [decimal](18, 2) NULL,
	[ghi_chu] [nvarchar](255) NULL,
	[nguoi_chot] [nvarchar](100) NULL,
	[ngay_chot] [datetime] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ca_lam]    Script Date: 2026-05-16 10:12:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ca_lam](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten_ca] [nvarchar](50) NULL,
	[gio_bat_dau] [time](7) NULL,
	[gio_ket_thuc] [time](7) NULL,
	[phut_cho_phep_di_tre] [int] NULL,
	[phut_cho_phep_ve_som] [int] NULL,
	[phut_cho_phep_checkin_som] [int] NULL,
	[phut_cho_phep_checkout_tre] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cau_hinh_luong]    Script Date: 2026-05-16 10:12:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cau_hinh_luong](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nhan_vien_id] [nvarchar](10) NULL,
	[luong_co_ban] [decimal](12, 2) NULL,
	[luong_theo_gio] [decimal](10, 2) NULL,
	[luong_tang_ca] [decimal](10, 2) NULL,
	[phu_cap_mac_dinh] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cham_cong]    Script Date: 2026-05-16 10:12:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cham_cong](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nhan_vien_id] [nvarchar](10) NULL,
	[ngay_lam] [date] NULL,
	[ca_lam_id] [int] NULL,
	[check_in] [datetime] NULL,
	[check_out] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nghi_phep]    Script Date: 2026-05-16 10:12:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nghi_phep](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nhan_vien_id] [nvarchar](10) NOT NULL,
	[ca_lam_id] [int] NOT NULL,
	[ngay] [date] NOT NULL,
	[loai] [nvarchar](20) NOT NULL,
	[ly_do] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nghi_phep_nam]    Script Date: 2026-05-16 10:12:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nghi_phep_nam](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nhan_vien_id] [nvarchar](10) NOT NULL,
	[nam] [int] NOT NULL,
	[so_ca_duoc_nghi] [int] NOT NULL,
	[so_ca_da_nghi_co_phep] [int] NULL,
	[so_ca_da_nghi_khong_phep] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhan_vien]    Script Date: 2026-05-16 10:12:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhan_vien](
	[id] [nvarchar](10) NOT NULL,
	[ma_van_tay] [nvarchar](10) NULL,
	[ho_ten] [nvarchar](100) NULL,
	[so_dien_thoai] [nvarchar](15) NULL,
	[ngay_sinh] [date] NULL,
	[dia_chi] [nvarchar](255) NULL,
	[vi_tri] [nvarchar](50) NULL,
	[vai_tro] [nvarchar](20) NULL,
	[trang_thai] [nvarchar](20) NULL,
	[pin_code] [nvarchar](10) NULL,
	[ngay_vao_lam] [date] NULL,
	[loai_luong] [nvarchar](10) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phan_ca]    Script Date: 2026-05-16 10:12:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phan_ca](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nhan_vien_id] [nvarchar](10) NULL,
	[ca_lam_id] [int] NULL,
	[ngay_lam] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[thuong_phat]    Script Date: 2026-05-16 10:12:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[thuong_phat](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nhan_vien_id] [nvarchar](10) NULL,
	[loai] [nvarchar](10) NULL,
	[so_tien] [decimal](10, 2) NULL,
	[ly_do] [nvarchar](255) NULL,
	[ngay] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[bang_luong_chot] ON 

SET IDENTITY_INSERT [dbo].[bang_luong_chot] OFF
GO
SET IDENTITY_INSERT [dbo].[ca_lam] ON 

INSERT [dbo].[ca_lam] ([id], [ten_ca], [gio_bat_dau], [gio_ket_thuc], [phut_cho_phep_di_tre], [phut_cho_phep_ve_som], [phut_cho_phep_checkin_som], [phut_cho_phep_checkout_tre]) VALUES (1, N'Ca sáng', CAST(N'08:00:00' AS Time), CAST(N'14:00:00' AS Time), 16, 0, 45, 180)
INSERT [dbo].[ca_lam] ([id], [ten_ca], [gio_bat_dau], [gio_ket_thuc], [phut_cho_phep_di_tre], [phut_cho_phep_ve_som], [phut_cho_phep_checkin_som], [phut_cho_phep_checkout_tre]) VALUES (2, N'Ca chiều', CAST(N'14:00:00' AS Time), CAST(N'23:00:00' AS Time), 14, 0, 45, 180)
SET IDENTITY_INSERT [dbo].[ca_lam] OFF
GO
SET IDENTITY_INSERT [dbo].[cau_hinh_luong] ON 

INSERT [dbo].[cau_hinh_luong] ([id], [nhan_vien_id], [luong_co_ban], [luong_theo_gio], [luong_tang_ca], [phu_cap_mac_dinh]) VALUES (1, N'ID0001', CAST(8540000.00 AS Decimal(12, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(45000.00 AS Decimal(10, 2)), CAST(300000.00 AS Decimal(10, 2)))
INSERT [dbo].[cau_hinh_luong] ([id], [nhan_vien_id], [luong_co_ban], [luong_theo_gio], [luong_tang_ca], [phu_cap_mac_dinh]) VALUES (2, N'ID0002', NULL, CAST(25000.00 AS Decimal(10, 2)), CAST(35000.00 AS Decimal(10, 2)), CAST(200000.00 AS Decimal(10, 2)))
INSERT [dbo].[cau_hinh_luong] ([id], [nhan_vien_id], [luong_co_ban], [luong_theo_gio], [luong_tang_ca], [phu_cap_mac_dinh]) VALUES (3, N'ID0003', NULL, CAST(25000.00 AS Decimal(10, 2)), CAST(35000.00 AS Decimal(10, 2)), CAST(200000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[cau_hinh_luong] OFF
GO
SET IDENTITY_INSERT [dbo].[cham_cong] ON 

INSERT [dbo].[cham_cong] ([id], [nhan_vien_id], [ngay_lam], [ca_lam_id], [check_in], [check_out]) VALUES (2299, N'ID0006', CAST(N'2026-04-01' AS Date), 1, CAST(N'2026-04-01T08:15:00.000' AS DateTime), CAST(N'2026-04-01T13:55:00.000' AS DateTime))
INSERT [dbo].[cham_cong] ([id], [nhan_vien_id], [ngay_lam], [ca_lam_id], [check_in], [check_out]) VALUES (2300, N'ID0014', CAST(N'2026-04-01' AS Date), 1, CAST(N'2026-04-01T07:55:00.000' AS DateTime), CAST(N'2026-04-01T13:47:00.000' AS DateTime))
INSERT [dbo].[cham_cong] ([id], [nhan_vien_id], [ngay_lam], [ca_lam_id], [check_in], [check_out]) VALUES (2301, N'ID0015', CAST(N'2026-04-01' AS Date), 1, CAST(N'2026-04-01T08:03:00.000' AS DateTime), CAST(N'2026-04-01T13:56:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[cham_cong] OFF
GO
SET IDENTITY_INSERT [dbo].[nghi_phep] ON 

INSERT [dbo].[nghi_phep] ([id], [nhan_vien_id], [ca_lam_id], [ngay], [loai], [ly_do], [created_at]) VALUES (1037, N'ID0007', 1, CAST(N'2026-04-02' AS Date), N'Có phép', N'Bận việc gia đình', CAST(N'2026-05-06T21:46:59.437' AS DateTime))
INSERT [dbo].[nghi_phep] ([id], [nhan_vien_id], [ca_lam_id], [ngay], [loai], [ly_do], [created_at]) VALUES (1038, N'ID0007', 2, CAST(N'2026-04-17' AS Date), N'Không phép', N'Không đến làm', CAST(N'2026-05-06T21:46:59.437' AS DateTime))
INSERT [dbo].[nghi_phep] ([id], [nhan_vien_id], [ca_lam_id], [ngay], [loai], [ly_do], [created_at]) VALUES (1039, N'ID0007', 2, CAST(N'2026-04-29' AS Date), N'Có phép', N'Xin nghỉ cá nhân', CAST(N'2026-05-06T21:46:59.437' AS DateTime))
SET IDENTITY_INSERT [dbo].[nghi_phep] OFF
GO
SET IDENTITY_INSERT [dbo].[nghi_phep_nam] ON 

INSERT [dbo].[nghi_phep_nam] ([id], [nhan_vien_id], [nam], [so_ca_duoc_nghi], [so_ca_da_nghi_co_phep], [so_ca_da_nghi_khong_phep], [created_at]) VALUES (2, N'ID0002', 2026, 24, 12, 4, CAST(N'2026-04-12T21:32:06.813' AS DateTime))
INSERT [dbo].[nghi_phep_nam] ([id], [nhan_vien_id], [nam], [so_ca_duoc_nghi], [so_ca_da_nghi_co_phep], [so_ca_da_nghi_khong_phep], [created_at]) VALUES (3, N'ID0003', 2026, 24, 20, 0, CAST(N'2026-04-12T21:32:06.813' AS DateTime))
INSERT [dbo].[nghi_phep_nam] ([id], [nhan_vien_id], [nam], [so_ca_duoc_nghi], [so_ca_da_nghi_co_phep], [so_ca_da_nghi_khong_phep], [created_at]) VALUES (4, N'ID0004', 2026, 24, 8, 4, CAST(N'2026-04-12T21:32:06.813' AS DateTime))
SET IDENTITY_INSERT [dbo].[nghi_phep_nam] OFF
GO
INSERT [dbo].[nhan_vien] ([id], [ma_van_tay], [ho_ten], [so_dien_thoai], [ngay_sinh], [dia_chi], [vi_tri], [vai_tro], [trang_thai], [pin_code], [ngay_vao_lam], [loai_luong], [created_at], [updated_at]) VALUES (N'ID0001', N'IDFA0001', N'Trần Văn Trí Hửu', N'0896454787', CAST(N'2004-02-05' AS Date), N'Đồng Tháp', N'Phụ bếp', N'Nhân viên', N'Đang làm', N'1212', CAST(N'2024-01-01' AS Date), N'Tháng', CAST(N'2026-04-12T21:32:06.693' AS DateTime), CAST(N'2026-05-16T20:40:28.130' AS DateTime))
INSERT [dbo].[nhan_vien] ([id], [ma_van_tay], [ho_ten], [so_dien_thoai], [ngay_sinh], [dia_chi], [vi_tri], [vai_tro], [trang_thai], [pin_code], [ngay_vao_lam], [loai_luong], [created_at], [updated_at]) VALUES (N'ID0002', N'IDFA0002', N'Trần Võ Thị Thu Uyên', N'0999123456', CAST(N'2005-01-01' AS Date), N'TP.HCM', N'Thu ngân', N'Nhân viên', N'Đang làm', N'0002', CAST(N'2024-01-02' AS Date), N'Giờ', CAST(N'2026-04-12T21:32:06.693' AS DateTime), CAST(N'2026-04-12T21:32:06.693' AS DateTime))
INSERT [dbo].[nhan_vien] ([id], [ma_van_tay], [ho_ten], [so_dien_thoai], [ngay_sinh], [dia_chi], [vi_tri], [vai_tro], [trang_thai], [pin_code], [ngay_vao_lam], [loai_luong], [created_at], [updated_at]) VALUES (N'ID0003', N'IDFA0003', N'Phan Thị Minh Diệu', N'0909123457', CAST(N'2005-01-01' AS Date), N'TP.HCM', N'Thu ngân', N'Nhân viên', N'Đang làm', N'0003', CAST(N'2024-01-05' AS Date), N'Giờ', CAST(N'2026-04-12T21:32:06.693' AS DateTime), CAST(N'2026-05-15T04:56:33.927' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[phan_ca] ON 

INSERT [dbo].[phan_ca] ([id], [nhan_vien_id], [ca_lam_id], [ngay_lam]) VALUES (663, N'ID0015', 1, CAST(N'2026-04-01' AS Date))
INSERT [dbo].[phan_ca] ([id], [nhan_vien_id], [ca_lam_id], [ngay_lam]) VALUES (664, N'ID0001', 1, CAST(N'2026-04-01' AS Date))
INSERT [dbo].[phan_ca] ([id], [nhan_vien_id], [ca_lam_id], [ngay_lam]) VALUES (665, N'ID0012', 1, CAST(N'2026-04-01' AS Date))
GO
SET IDENTITY_INSERT [dbo].[phan_ca] OFF
GO
SET IDENTITY_INSERT [dbo].[thuong_phat] ON 

INSERT [dbo].[thuong_phat] ([id], [nhan_vien_id], [loai], [so_tien], [ly_do], [ngay]) VALUES (22, N'ID0001', N'Thưởng', CAST(500000.00 AS Decimal(10, 2)), N'Tăng ca nhiều trong tháng', CAST(N'2026-04-30' AS Date))
INSERT [dbo].[thuong_phat] ([id], [nhan_vien_id], [loai], [so_tien], [ly_do], [ngay]) VALUES (23, N'ID0012', N'Thưởng', CAST(300000.00 AS Decimal(10, 2)), N'Đi làm đầy đủ', CAST(N'2026-04-30' AS Date))
INSERT [dbo].[thuong_phat] ([id], [nhan_vien_id], [loai], [so_tien], [ly_do], [ngay]) VALUES (24, N'ID0016', N'Thưởng', CAST(200000.00 AS Decimal(10, 2)), N'Hỗ trợ ca gấp', CAST(N'2026-04-28' AS Date))
SET IDENTITY_INSERT [dbo].[thuong_phat] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_nghi]    Script Date: 2026-05-16 10:12:18 PM ******/
ALTER TABLE [dbo].[nghi_phep] ADD  CONSTRAINT [UQ_nghi] UNIQUE NONCLUSTERED 
(
	[nhan_vien_id] ASC,
	[ca_lam_id] ASC,
	[ngay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_nv_nam]    Script Date: 2026-05-16 10:12:18 PM ******/
ALTER TABLE [dbo].[nghi_phep_nam] ADD  CONSTRAINT [UQ_nv_nam] UNIQUE NONCLUSTERED 
(
	[nhan_vien_id] ASC,
	[nam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__nhan_vie__C17D232990B2363D]    Script Date: 2026-05-16 10:12:18 PM ******/
ALTER TABLE [dbo].[nhan_vien] ADD UNIQUE NONCLUSTERED 
(
	[ma_van_tay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bang_luong_chot] ADD  DEFAULT ((0)) FOR [tong_ca_duoc_phan]
GO
ALTER TABLE [dbo].[bang_luong_chot] ADD  DEFAULT ((0)) FOR [tong_ca_di_lam]
GO
ALTER TABLE [dbo].[bang_luong_chot] ADD  DEFAULT ((0)) FOR [tong_ca_nghi]
GO
ALTER TABLE [dbo].[bang_luong_chot] ADD  DEFAULT ((0)) FOR [tong_phut_di_tre]
GO
ALTER TABLE [dbo].[bang_luong_chot] ADD  DEFAULT ((0)) FOR [tong_phut_ve_som]
GO
ALTER TABLE [dbo].[bang_luong_chot] ADD  DEFAULT ((0)) FOR [tong_phut_bi_tru]
GO
ALTER TABLE [dbo].[bang_luong_chot] ADD  DEFAULT ((0)) FOR [tong_phut_tang_ca]
GO
ALTER TABLE [dbo].[bang_luong_chot] ADD  DEFAULT ((0)) FOR [luong_co_ban]
GO
ALTER TABLE [dbo].[bang_luong_chot] ADD  DEFAULT ((0)) FOR [luong_theo_gio]
GO
ALTER TABLE [dbo].[bang_luong_chot] ADD  DEFAULT ((0)) FOR [luong_tang_ca_theo_gio]
GO
ALTER TABLE [dbo].[bang_luong_chot] ADD  DEFAULT ((0)) FOR [tong_luong_chinh]
GO
ALTER TABLE [dbo].[bang_luong_chot] ADD  DEFAULT ((0)) FOR [tong_luong_tang_ca]
GO
ALTER TABLE [dbo].[bang_luong_chot] ADD  DEFAULT ((0)) FOR [phu_cap]
GO
ALTER TABLE [dbo].[bang_luong_chot] ADD  DEFAULT ((0)) FOR [thuong]
GO
ALTER TABLE [dbo].[bang_luong_chot] ADD  DEFAULT ((0)) FOR [phat]
GO
ALTER TABLE [dbo].[bang_luong_chot] ADD  DEFAULT ((0)) FOR [tong_luong]
GO
ALTER TABLE [dbo].[bang_luong_chot] ADD  DEFAULT (getdate()) FOR [ngay_chot]
GO
ALTER TABLE [dbo].[bang_luong_chot] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[nghi_phep] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[nghi_phep_nam] ADD  DEFAULT ((0)) FOR [so_ca_da_nghi_co_phep]
GO
ALTER TABLE [dbo].[nghi_phep_nam] ADD  DEFAULT ((0)) FOR [so_ca_da_nghi_khong_phep]
GO
ALTER TABLE [dbo].[nghi_phep_nam] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[nhan_vien] ADD  DEFAULT ('nhan_vien') FOR [vai_tro]
GO
ALTER TABLE [dbo].[bang_luong_chot]  WITH CHECK ADD  CONSTRAINT [FK_BANG_LUONG_CHOT_NHAN_VIEN] FOREIGN KEY([nhan_vien_id])
REFERENCES [dbo].[nhan_vien] ([id])
GO
ALTER TABLE [dbo].[bang_luong_chot] CHECK CONSTRAINT [FK_BANG_LUONG_CHOT_NHAN_VIEN]
GO
ALTER TABLE [dbo].[cau_hinh_luong]  WITH CHECK ADD FOREIGN KEY([nhan_vien_id])
REFERENCES [dbo].[nhan_vien] ([id])
GO
ALTER TABLE [dbo].[cham_cong]  WITH CHECK ADD FOREIGN KEY([nhan_vien_id])
REFERENCES [dbo].[nhan_vien] ([id])
GO
ALTER TABLE [dbo].[nghi_phep]  WITH CHECK ADD FOREIGN KEY([ca_lam_id])
REFERENCES [dbo].[ca_lam] ([id])
GO
ALTER TABLE [dbo].[nghi_phep]  WITH CHECK ADD FOREIGN KEY([nhan_vien_id])
REFERENCES [dbo].[nhan_vien] ([id])
GO
ALTER TABLE [dbo].[nghi_phep_nam]  WITH CHECK ADD FOREIGN KEY([nhan_vien_id])
REFERENCES [dbo].[nhan_vien] ([id])
GO
ALTER TABLE [dbo].[phan_ca]  WITH CHECK ADD FOREIGN KEY([ca_lam_id])
REFERENCES [dbo].[ca_lam] ([id])
GO
ALTER TABLE [dbo].[phan_ca]  WITH CHECK ADD FOREIGN KEY([nhan_vien_id])
REFERENCES [dbo].[nhan_vien] ([id])
GO
ALTER TABLE [dbo].[thuong_phat]  WITH CHECK ADD FOREIGN KEY([nhan_vien_id])
REFERENCES [dbo].[nhan_vien] ([id])
GO
ALTER TABLE [dbo].[nghi_phep]  WITH CHECK ADD  CONSTRAINT [CK_loai] CHECK  (([loai]=N'Không phép' OR [loai]=N'Có phép'))
GO
ALTER TABLE [dbo].[nghi_phep] CHECK CONSTRAINT [CK_loai]
GO
ALTER TABLE [dbo].[nghi_phep_nam]  WITH CHECK ADD  CONSTRAINT [CK_ca_duoc_nghi] CHECK  (([so_ca_duoc_nghi]>=(0)))
GO
ALTER TABLE [dbo].[nghi_phep_nam] CHECK CONSTRAINT [CK_ca_duoc_nghi]
GO
ALTER TABLE [dbo].[nghi_phep_nam]  WITH CHECK ADD  CONSTRAINT [CK_ca_nghi_co_phep] CHECK  (([so_ca_da_nghi_co_phep]>=(0)))
GO
ALTER TABLE [dbo].[nghi_phep_nam] CHECK CONSTRAINT [CK_ca_nghi_co_phep]
GO
ALTER TABLE [dbo].[nghi_phep_nam]  WITH CHECK ADD  CONSTRAINT [CK_ca_nghi_khong_phep] CHECK  (([so_ca_da_nghi_khong_phep]>=(0)))
GO
ALTER TABLE [dbo].[nghi_phep_nam] CHECK CONSTRAINT [CK_ca_nghi_khong_phep]
GO
USE [master]
GO
